<Context>

    <Resource name="jdbc/library"

              auth="Container"

              type="javax.sql.DataSource"

              username="root"

              password="123"

              driverClassName="com.mysql.jdbc.Driver"

              url="jdbc:mysql:/127.0.0.1:3306/library"

              maxActive="15"

              maxIdle="3"/>

</Context>

